
<script>
$("form").validate();
</script> 

<form method="post" enctype="multipart/form-data" action="/users/upload">

<h3>New Employee</h3>
    <label>Name</label><input type="text" name="EmpName" />
    
    <label>Gender</label>
    <select>
        <option value='m'>Male</option>
        <option  value='f'>Female</option>
        <option  value='o'>Other</option>
    </select>
    
    <label>DOB</label>
    <input type="date" name="dob" />

    <label>Primary Email</label>
    <input type="email" value="primaryEmail" />

    <label>Secondary Email</label>
    <input type="email" value="secondaryEmail" />

    <label>Phone Number</label>
    <input type="number" value="phoneNumber" />



    <input type="file" name="imageFile">
    <input type="submit" value="Submit">
</form>