<script>
    $("form").validate();
</script>

{{# if errors }}
    {{# each errors }}
          <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
{{/if}}
<form method="post" class="form-horizontal" enctype="multipart/form-data" action="/users/upload">

    <h3>New Employee</h3>

    <div class="form-group">
        <label for="EmpName">Name:</label>
        <input type="text" name="EmpName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pwd">Gender:</label>
        <select name="Gender" class="form-control">
            <option value='m'>Male</option>
            <option value='f'>Female</option>
            <option value='o'>Other</option>
        </select>

    </div>
    <div class="form-group">
        <label>Primary Email:</label>
        <input type="email" name="txtPEmail" class="form-control" />
    </div>

    <label>DOB</label>
    <input type="date" name="dob" />

    <label>Primary Email</label>
    <input type="email" value="primaryEmail" />

    <label>Secondary Email</label>
    <input type="email" value="secondaryEmail" />

    <label>Phone Number</label>
    <input type="number" value="phoneNumber" />



    <input type="file" name="imageFile">
    <input type="submit" value="Submit">
</form>