<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../bower_components/jquery-validation/dist/jquery.validate.min.js" />
    <script src="../bower_components/jquery/dist/jquery.min.js" />
    <script src="../bower_components/jquery-validation/dist/additional-methods.min.js" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
